In [17]:
#
# Course: ultimate python
# https://www.udemy.com/course/ultimate-python-de-cero-a-programador-experto/
#
import pandas as p
data_juegos = p.read_csv("juegos-ml.csv")
data_juegos

    edad  genero      juegos
0      8       0      accion
1     11       0      accion
2     12       0         fps
3     13       0         fps
4     15       0         fps
5     18       0         fps
6     22       0        jrpg
7     25       0        jrpg
8     28       0        jrpg
9     31       0      accion
10    32       0      accion
11    35       0      accion
12    10       1  plataforma
13    13       1  plataforma
14    14       1  plataforma
15    15       1      puzzle
16    18       1      puzzle
17    19       1         fps
18    22       1         fps
19    25       1         fps

In [9]:
X =data_juegos.drop(columns=["juegos"])

In [11]:
X

    edad  genero
0      8       0
1     11       0
2     12       0
3     13       0
4     15       0
5     18       0
6     22       0
7     25       0
8     28       0
9     31       0
10    32       0
11    35       0
12    10       1
13    13       1
14    14       1
15    15       1
16    18       1
17    19       1
18    22       1
19    25       1

In [13]:
y = data_juegos["juegos"]

In [15]:
y

0         accion
1         accion
2            fps
3            fps
4            fps
5            fps
6           jrpg
7           jrpg
8           jrpg
9         accion
10        accion
11        accion
12    plataforma
13    plataforma
14    plataforma
15        puzzle
16        puzzle
17           fps
18           fps
19           fps
Name: juegos, dtype: object

In [35]:
#tratando de predecir 14
from sklearn.tree import DecisionTreeClassifier
modelo = DecisionTreeClassifier()
modelo.fit(X.values,y)
predicciones = modelo.predict([[14,0],[29,0],[30,0]])
predicciones

array(['fps', 'jrpg', 'accion'], dtype=object)